.green-bg {
  background-color: $green;
}
.white-bg {
  background-color: $white;
}
.white-text {
  color: $white;
}
.red-bg {
  background-color: $red;
}
.font-white {
  color: $white;
}
.bg-gray {
  background-color: $gray;
}