.parallax-container {
  align-items: center;
  justify-content: center;
  display: flex;
}
.container--title {
  width: 380px;
  height: 65px;
  border: 2px dashed #2b2a2a;
  background-color: gray;
  box-shadow: 5px 5px 150px #131111;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: center;
  justify-items: center;
  .centered-main--title {
  	font-size: 3rem;
    margin: 0 auto;
    font-weight: bold;
    letter-spacing: 5px;
  }
}
.container--separator {
	position: relative;
  height: 100px;
  background-color: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  .button--feel {
  	width: 250px;
  }
}
.container--information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  .container--card {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 25px;
	}
	img {
    height:250px;
	}
}
.container--beach {
	.container--title {
    background-color: transparent;
    box-shadow:none;
    border:none;
	}
}